#about-page {
    padding: 30px;

    h1 {
        font-size: 1.75rem;
        font-weight: 700;
        color: black;
        margin-bottom: 20px;
        text-transform: capitalize;
    }

    p {
        line-height: 1.25;
        font-weight: 500;
    }
}