.welcome-jumbo {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    background: red;
    // overflow: hidden;
    padding: 45px;
    background: #ed4852;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ed4852 0%, #9c1b24 100%);
    /* FF3.6- 15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ed4852 0%,#9c1b24 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ed4852 0%,#9c1b24 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    .status {
        display: inline-block;
        align-self: flex-start;
        padding: 10px;
        font-weight: 700;
        font-size: 0.9rem;
        color: white;
        background: black;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    h1 {
        font-size: 2.5rem;
        color: white;
        align-self: flex-start;
        margin-bottom: 25px;
    }

    .burger-fries {
        width: 80%;
        // animation: moveUpandDown 4s linear infinite;
        // position: relative;
    }
    // @keyframes moveUpandDown {
    //   0%,
    //   100% {
    //     bottom: 0;
    //   }
    //
    //   50% {
    //     bottom: 30px;
    //   }
    // }
}