@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import "bootstrap.min.css";
@import "reset";
@import "pages/about";
@import "pages/waitlist";
@import "pages/offers";
@import "menu/index";
@import "home";

body {
    line-height: 1;
    background: white;
}

p {
    font-family: 'Montserrat', sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#app-layout {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .side-menu {
        position: relative;
        background: white;
        padding: 40px;

        .logo {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;

            img {
                width: 175px;
            }
        }

        .menu {
            margin-bottom: 20px;

            .menu-title {
                text-transform: uppercase;
                color: #0971ce;
                font-weight: 700;
                font-size: 1.1rem;
                border-bottom: 2px solid #e2eaef;
                padding-bottom: 10px;
            }

            .links {
                margin-top: 20px;

                li {
                    a {
                        font-size: 1rem;
                        font-weight: 700;
                        color: black;
                        margin-bottom: 15px;
                        text-decoration: none;
                        display: block;
                        transition: color 0.2s ease-in-out;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }

        .social-icons {
            display: flex;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #c2c8cc;
                font-size: 0.9rem;
                text-decoration: none;
                color: white;
                border-radius: 50%;
                margin-right: 10px;
                width: 25px;
                height: 25px;
                transition: background 0.3s ease-in-out;

                &:hover {
                    background: red;
                }
            }
        }

        .location {
            align-self: center;
            position: absolute;
            bottom: 40px;
            text-align: center;

            .address {
                line-height: 1.2rem;
                color: #c2c8cc;
                margin-bottom: 15px;
            }

            .phone-number {
                a {
                    font-weight: 400;
                    font-size: 1.1rem;
                    text-decoration: none;
                    color: #0971ce;
                }
            }
        }
    }

    #content-section {
        max-width: 100%;
        height: 100vh;
        background: red;
        background: #ed4852;
        /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #ed4852 0%, #9c1b24 100%);
        /* FF3.6- 15 */
        background: -webkit-radial-gradient(center, ellipse cover, #ed4852 0%,#9c1b24 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #ed4852 0%,#9c1b24 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}

#information {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;

    .restaurant-image {
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .info {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .paragraghs {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 20px;
            line-height: 1.25;
            color: #525e66;
            margin-bottom: 25px;
            text-align: left;
        }

        .about-link {
            text-decoration: none;
            font-size: 1.1rem;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;

            .circle-right {
                display: inline;
                margin-left: 8px;

                i {
                    font-size: 30px;
                    color: #9c1b24;
                }
            }
        }
    }
}

#food-preview {
    background: #f4f8fb;
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button-rounded {
        background: #ed4852;
        color: white;
        display: inline-block;
        padding: 15px;
        border-radius: 30px;
        margin: 15px 0 110px;
        cursor: pointer;
    }

    .left-btn,
    .right-btn {
        background: #ed4852;
        color: white;
        text-align: center;
        position: absolute;
        cursor: pointer;
        display: inline-block;
        z-index: 10;

        .fa {
            font-size: 2rem;
            width: 35px;
            height: 35px;
        }
    }

    .left-btn {
        left: 10.5%;
    }

    .right-btn {
        right: 10.5%;
    }

    .slide-container {
        width: 100%;
        height: 100%;
        max-width: 950px;
        overflow: hidden;
        position: relative;

        .food-slider {
            width: 100%;
            max-width: 950px;
            font-size: 0;
            white-space: nowrap;
            transform: translate3d(-0%, 0, 0);

            .slide {
                width: 20%;
                height: 450px;
                position: relative;
                display: inline-block;
                white-space: normal;

                &:hover {
                    cursor: pointer;

                    .background {
                        background: #f59c2e;
                        transform: translate3d(0, -70px, 0);
                    }

                    .content {
                        .food-title {
                            color: white;
                        }

                        .food-description {
                            color: white;
                        }
                    }
                }

                .background {
                    background: white;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    z-index: 1;
                    transition: all 0.4s ease-in-out;
                }

                .content {
                    width: 100%;
                    position: absolute;
                    z-index: 2;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .food-title {
                        color: #ed4852;
                        font-size: 1.5rem;
                        font-weight: 900;
                        margin-bottom: 1.75rem;
                        transition: all 0.4s ease-in-out;
                    }

                    .food-description {
                        font-weight: 400;
                        line-height: 1.1;
                        font-size: 0.8rem;
                        margin-bottom: 1.75rem;
                        color: #7a8d99;
                        transition: all 0.4s ease-in-out;
                    }
                }

                img {
                    width: 250px;
                    max-width: 100%;
                }
            }
        }
    }
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.content-box {
    background: white;
    padding: 25px;
}
//////////////////////////////////////////////
//////////////////////////////////////////////
/////////////////////////////////////////////
// small devices and phones (landscaped phones up 767px)
@media (min-width: 0px) and (max-width: 767px) {
    #app-layout {
        grid-template-columns: 100%;

        .side-menu {
            display: none;
        }
    }

    #information {
        grid-template-columns: 100%;

        .info {
            .paragraphs {
                font-size: 0.9rem;
                line-height: 1;
            }
        }
    }

    #food-preview {
        .slide-container {
            .left-btn {
                bottom: -305%;
                left: 10%;
            }

            .right-btn {
                bottom: -305%;
                right: 10%;
            }

            .food-slider {
                .slide {
                    width: 100% !important;
                }
            }
        }
    }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 991px) {
    #app-layout {
        grid-template-columns: 30% 70%;
    }

    #food-preview {
        .slide-container {
            .left-btn {
                bottom: -155%;
            }

            .right-btn {
                bottom: -155%;
            }

            .food-slider {
                .slide {
                    width: 25%;
                }
            }
        }
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    #app-layout {
        grid-template-columns: 25% 75%;
    }

    #food-preview {
        .left-btn {
            left: 7.5%;
        }

        .right-btn {
            right: 7.5%;
        }

        .slide-container {
            .food-slider {
                .slide {
                    width: 25%;
                }
            }
        }
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}